/* src/index.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .text-neon-green {
    color: #39FF14; /* Neon Green */
  }
  .border-neon-green {
    border-color: #39FF14; /* Neon Green */
  }
  .bg-neon-green {
    background-color: #39FF14; /* Neon Green */
  }
  .bg-light-gray {
    background-color: #1F1F1F; /* Dark Gray */
  }
}
